* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: #fff;
}
.header-color--gray {
  background-color: #EAEFF2;
}
.header__content {
  padding-top: 50px;
  padding-bottom: 41px;
}
.header__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
}
.header__title-link {
  margin: 0;
  padding: 0;
  color: #000;
}
.header__desc {
  margin: 0;
  margin-bottom: 39px;
  font-family: Montserrat;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.header__nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.header__nav-item {
  margin-right: 59px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  color: #000;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header__nav-link:hover {
  color: rgba(0, 0, 0, 0.479);
}
.header-nav-color--red {
  color: red;
}
.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F7FA;
}
.about-me-color--white {
  background-color: #fff;
}
.about-me__title {
  margin: 0;
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.about-me__content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me__img {
  display: block;
  margin-right: 50px;
  width: 160px;
  height: 160px;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  border-radius: 50%;
}
.about-me__desc {
  max-width: 540px;
}
.about-me__desc-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.about-me__desc-text {
  margin-top: 0;
  margin-bottom: 35px;
  max-width: 400px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}
.about-me__desc-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 22px;
}
.about-me__desc-list-item {
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
.about-me__desc-list-item:last-child {
  margin-bottom: 0;
}
.order-status {
  margin-top: 60px;
  margin-bottom: 76px;
}
.order-status__content {
  background-color: #F5F7FA;
  border-radius: 8px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.order-status__content:hover {
  background: #E9EFF8;
  border: 1px solid #1647ED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}
.order-status__content-title {
  margin: 20px;
  padding: 5px 10px 5px 10px;
  background-color: #1647ED;
  border-radius: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.order-status__content-subtitle {
  margin-right: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1647ED;
}
.new-projects {
  margin-bottom: 76px;
}
.new-projects__title {
  margin: 0;
  margin-bottom: 49px;
}
.new-projects__title a {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.new-projects__title a:hover {
  color: #FF343D;
}
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card {
  max-width: 540px;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  background-color: #fff;
  margin-bottom: 40px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.card:last-child {
  margin-bottom: 0;
}
.card:nth-last-child(2) {
  margin-bottom: 0;
}
.card__content {
  padding: 20px 20px 32px;
}
.card__tech-stack {
  position: absolute;
  padding: 5px 10px;
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000;
}
.card__img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}
.card__desc {
  margin: 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
}
.footer {
  background-color: #000;
}
.footer-content {
  padding-top: 40px;
  padding-bottom: 70px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__copyright p {
  margin: 0;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-link {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__socials-link:last-child {
  margin-right: 0;
}
.footer__socials-link:hover {
  -webkit-box-shadow: 0 0 15px #ffffff;
          box-shadow: 0 0 15px #ffffff;
}
.skills__title {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.skills__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skills__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__list-item p {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.skills__list-icon {
  width: 60px;
  height: 60px;
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-page__title {
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */