* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  background-color: #fff;
}
.header-color--gray {
  background-color: #EAEFF2;
}
.header__content {
  padding-top: 50px;
  padding-bottom: 41px;
}
.header__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  color: #000000;
}
@media (max-width: 550px) {
  .header__title {
    font-size: 30px;
  }
}
.header__title-link {
  margin: 0;
  padding: 0;
  color: #000;
}
.header__desc {
  margin: 0;
  margin-bottom: 39px;
  font-family: Montserrat;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 550px) {
  .header__desc {
    font-size: 13px;
  }
}
.header__nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.header__nav-item {
  margin-right: 59px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 550px) {
  .header__nav-item {
    margin-right: 40px;
    font-size: 13px;
  }
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  color: #000;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header__nav-link:hover {
  color: rgba(0, 0, 0, 0.479);
}
.header-nav-color--red {
  color: #FF343D;
}
.about-me {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F7FA;
}
@media (max-width: 550px) {
  .about-me {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.about-me-color--white {
  background-color: #fff;
}
.about-me__title {
  margin: 0;
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.about-me__content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 760px) {
  .about-me__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-me__img {
  display: block;
  margin-right: 50px;
  width: 160px;
  height: 160px;
  background-color: #F5F7FA;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
  border-radius: 50%;
}
@media (max-width: 760px) {
  .about-me__img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .about-me__img {
    width: 140px;
    height: 140px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.about-me__desc {
  max-width: 540px;
}
.about-me__desc-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 550px) {
  .about-me__desc-title {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
.about-me__desc-text {
  margin-top: 0;
  margin-bottom: 35px;
  max-width: 400px;
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}
@media (max-width: 550px) {
  .about-me__desc-text {
    margin-bottom: 25px;
    font-size: 15px;
    max-width: 350px;
  }
}
.about-me__desc-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 22px;
}
.about-me__desc-list-item {
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}
@media (max-width: 550px) {
  .about-me__desc-list-item {
    font-size: 18px;
  }
}
.about-me__desc-list-item:last-child {
  margin-bottom: 0;
}
.order-status {
  margin-top: 60px;
  margin-bottom: 70px;
}
@media (max-width: 760x) {
  .order-status {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
.order-status__content {
  background-color: #F5F7FA;
  border-radius: 8px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.order-status__content:hover {
  background: #E9EFF8;
  border: 1px solid #1647ED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}
.order-status__content-title {
  margin: 20px 10px 20px 20px;
  padding: 5px 10px 5px 10px;
  background-color: #1647ED;
  border-radius: 3px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 760px) {
  .order-status__content-title {
    margin: 10px 5px 10px 10px;
    font-size: 10px;
  }
}
.order-status__content-subtitle {
  margin-left: 10px;
  margin-right: 10px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1647ED;
}
@media (max-width: 760px) {
  .order-status__content-subtitle {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
  }
}
.new-projects {
  padding-bottom: 60px;
}
@media (max-width: 760px) {
  .new-projects {
    padding-bottom: 40px;
  }
}
.new-projects__title {
  margin: 0;
  margin-bottom: 49px;
}
@media (max-width: 760px) {
  .new-projects__title {
    margin-bottom: 30px;
  }
}
.new-projects__title a {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.new-projects__title a:hover {
  color: rgba(0, 0, 0, 0.479);
}
.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card {
  margin-bottom: 30px;
  max-width: 540px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card:last-child {
  margin-bottom: 0;
}
.card:nth-last-child(2) {
  margin-bottom: 0;
}
@media (max-width: 760px) {
  .card:nth-last-child(2) {
    margin-bottom: 30px;
  }
}
.card:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
@media (max-width: 1140px) {
  .card {
    width: calc(48%);
  }
}
@media (max-width: 760px) {
  .card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.card__content {
  padding: 20px 20px 32px;
}
.card__badge {
  position: absolute;
  padding: 5px 10px;
  display: inline-block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000;
}
@media (max-width: 760px) {
  .card__badge {
    font-size: 10px;
  }
}
.card__img {
  display: block;
  margin-bottom: 20px;
  max-width: 100%;
}
.card__desc {
  margin: 0;
  font-family: Playfair Display;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
}
@media (max-width: 760px) {
  .card__desc {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .card__desc {
    font-size: 17px;
  }
}
.footer {
  background-color: #000;
}
.footer-content {
  padding-top: 40px;
  padding-bottom: 70px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 550px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__copyright {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}
.footer__copyright p {
  margin: 0;
}
@media (max-width: 550px) {
  .footer__copyright p {
    margin-bottom: 15px;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials-link {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 550px) {
  .footer__socials-link {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.footer__socials-link:last-child {
  margin-right: 0;
}
.footer__socials-link:hover {
  -webkit-box-shadow: 0 0 15px #ffffff;
          box-shadow: 0 0 15px #ffffff;
}
.skills__title {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
@media (max-width: 760px) {
  .skills__title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 550px) {
  .skills__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 23px;
  }
}
.skills__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skills__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__list-item p {
  margin: 0;
  margin-top: 20px;
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
@media (max-width: 760px) {
  .skills__list-item p {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .skills__list-item p {
    font-size: 15px;
    margin-top: 15px;
  }
}
.skills__list-icon {
  width: 60px;
  height: 60px;
}
@media (max-width: 760px) {
  .skills__list-icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 550px) {
  .skills__list-icon {
    width: 40px;
    height: 40px;
  }
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 760px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.portfolio-page__title {
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
@media (max-width: 760px) {
  .portfolio-page__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 550px) {
  .portfolio-page__title {
    font-size: 23px;
    margin-bottom: 40px;
  }
}
.project__content {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 760px) {
  .project__content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.project__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
@media (max-width: 760px) {
  .project__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 550px) {
  .project__title {
    font-size: 23px;
    margin-bottom: 40px;
  }
}
.project__img {
  margin-bottom: 60px;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
          box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
}
@media (max-width: 760px) {
  .project__img {
    margin-bottom: 45px;
  }
}
.project__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 550px) {
  .project__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.project__desc-left-col {
  margin-right: 30px;
  max-width: 540px;
}
@media (max-width: 550px) {
  .project__desc-left-col {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.project__desc-text {
  margin: 0;
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}
@media (max-width: 760px) {
  .project__desc-text {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
.project__desc-figures {
  margin: 0;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
@media (max-width: 760px) {
  .project__desc-figures {
    font-size: 15px;
  }
}
.project__desc-figures:last-child {
  margin-bottom: 0;
}
.project__desc-figures span {
  color: #3587bd;
}
.project__desc-right-col {
  max-width: 500px;
}
.project__desc-title {
  margin: 0;
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #000000;
}
@media (max-width: 760px) {
  .project__desc-title {
    font-size: 23px;
  }
}
.project__desc-list {
  padding-left: 18px;
  margin: 0;
  margin-bottom: 40px;
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
@media (max-width: 760px) {
  .project__desc-list {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.project-desc-list-item {
  margin-bottom: 10px;
}
.project-desc-list-item:last-child {
  margin-bottom: 0;
}
.project__desc-link {
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 170%;
  color: #1647ED;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
@media (max-width: 760px) {
  .project__desc-link {
    font-size: 15px;
  }
}
.project__desc-link:hover {
  color: #FF343D;
}
.section__contact-me {
  padding-top: 55px;
  padding-bottom: 55px;
}
.contact-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-me__left-col {
  margin-right: 50px;
}
.contact-me__left-col p {
  margin: 0;
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 18px;
  line-height: 170%;
  color: #000000;
}
.contact-me__left-col p:last-child {
  margin-bottom: 0;
}
.contact-me__left-col a {
  font-family: Playfair Display;
  font-size: 18px;
  line-height: 170%;
  color: #0059ff;
}
.contact-me__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #000000;
}
.contact-me__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-me__form-name {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  height: 45px;
}
.contact-me__form-email {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  height: 45px;
}
.contact-me__form-message {
  padding-top: 14px;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 540px;
  height: 140px;
  background: #FFFFFF;
  border: 1px solid #7E9BBD;
  border-radius: 6px;
  resize: none;
}
.contact-me__form-file {
  margin-bottom: 15px;
}
.contact-me__form-submit {
  width: 140px;
  height: 40px;
  background-color: #000000;
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.contact-me__form-submit:hover {
  background-color: #7E9BBD;
}
.contact-me__form-submit:active {
  background-color: #49525B;
}
.sign-in__main {
  background-image: url('/img/sign-in-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.sign-in__header {
  padding-top: 40px;
  text-align: center;
}
.sign-in__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  color: #ffffff;
}
.sign-in__title-link {
  margin: 0;
  padding: 0;
  color: #fff;
}
.sign__desc {
  margin: 0;
  font-family: Montserrat;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}
.sign-in__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  max-width: 350px;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
}
.sign-in__form input {
  width: 290px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 15px;
}
.sign-in__form-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.sign-in__form-button {
  width: 290px;
  height: 40px;
  background-color: #000000;
  border-radius: 6px;
  border: none;
  outline: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.sign-in__form-button:hover {
  background-color: #7E9BBD;
}
.sign-in__form-button:active {
  background-color: #49525B;
}
/*# sourceMappingURL=main.css.map */