.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.portfolio-page__title {
    margin-bottom: 60px;
    text-align: center;
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #000000;

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760px) {
        font-size: 24px;
        margin-bottom: 45px;
    }

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760px) {
        font-size: 20px;
        margin-bottom: 40px;
    }
}