.order-status {
    margin-top: 60px;
    margin-bottom: 76px;

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760x) {
        margin-top: 55px;
        margin-bottom: 60px;
    }
}

.order-status__content {
    background-color: #F5F7FA;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;

    &:hover {
        background: #E9EFF8;
        border: 1px solid #1647ED;
        box-sizing: border-box;
        box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.3);
    }
}

.order-status__content-title {
    // margin: 20px;
    margin: 20px 10px 20px 20px;
    padding: 5px 10px 5px 10px; 
    background-color: #1647ED;
    border-radius: 3px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 13px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760px) {
        margin: 10px 5px 10px 10px;
        font-size: 10px;

    }
}

.order-status__content-subtitle {
    margin-left: 10px;
    margin-right: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #1647ED;

    // Медиа-запрос для экранов с шириной до 760px
    @media (max-width: 760px) {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 13px;
    }
}