.new-projects {
    margin-bottom: 76px;
}

.new-projects__title {
    margin: 0;
    margin-bottom: 49px;

    a {
        color: #000;
    text-decoration: underline;

    }
}

.new-projects__card-wrapper {

}

